.siteBreadcrumbWrap li a{
    font-size: 16px;
    color: #404040;
}
.siteBreadcrumbWrap li {
    position: relative;
}
.siteBreadcrumbWrap li a:after{
    content: '';
    border: solid #404040;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    transform: rotate(320deg);
    margin: 0 10px;
}
.siteBreadcrumbWrap li:last-child a:after{
    display: none;
}
.BreadcrumbContainer{
    padding: 20px 0;
    border-top: 1px solid #ddd;
}